/* Navbar Estilos */


.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    background: var(--backgroun-one);
    position: absolute;
    z-index: +3;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
    background: var(--backgroun-one);
  }
  
  .navbar  li {
    list-style: none;
  }
  
  .navbar  a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar  a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container-active {
    display: block;
    position: relative;
    height: 60px;
  }
  
   .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
   .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
   .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background:var(--text-color);
  }
  
   .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
   .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
   .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container-active  .menu-items {
    transform: translateX(0);
  }
  
  .nav-container-active .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container-active  .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container-active  .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container-active  .logo{
    display: none;
  }
  