@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --fc-button-bg-color: #FF5B22;
    --fc-button-border-color: #FF5B22;
    --fc-button-hover-bg-color: #f3460c;
    --fc-button-hover-border-color: #f3460c;
    --fc-button-active-bg-color: #f3460c;
    --fc-button-active-border-color: #f3460c;
    --fc-today-bg-color: #ff91308f;
    --fc-event-bg-color: #A7D397;
    --fc-event-border-color: #A7D397;

    --text-color:#0e2431;
    --backgroun-one: #FFFBF5;
    --backgroun-two: #F7EFE5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--backgroun-two);
}
#main{
  height: 92vh;
  position: relative;
  top: 62px;

}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}
